.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  text-align: left;
  margin: 0;
  padding: 10px 100px;
  width: calc(100% - 200px);
  background-color: #9972e0;
  position: sticky;
  top: 0;
  vertical-align: middle;
}

.SignOut {
  position: absolute;
  vertical-align: middle;
  margin: 0 100px;
  right: 10px;
}