html, body, #root, .App {
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: #b195e433;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header, footer {
  background-color: #b195e4;
}

header {
  text-align: left;
  
  padding: 10px 5%;
  width: 90%;

  position: -webkit-sticky;
  position: sticky;
  top: 0;

  font-size: 30px;
  border-radius: 0px 0px 20px 20px;
}

header > div{
  font-size: 22px;
}

.SignOut {
  position: absolute;
  text-align: right;
  margin: 10px 0;
  right: 5%;
  height: 50%;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  top: 96%;
  bottom: 0;
  padding: -10px 0;

  display: flex;
}
footer > div {
  flex: 1;
}